/* src/components/ProjectList.css */

.project-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.project-items {
    list-style: none;
    padding: 0;
}

.project-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.project-item h3 {
    margin-top: 0;
}

.project-item p {
    margin: 5px 0;
}
